[report]

exclude_lines =
	coverage: no-coverage

skip_empty = True

omit =
	manage.py
    */migrations/*
    */test/*
    */apps.py
    */conftest.py
    events/*
    **/management/commands/*



[html]

directory = reporting/coverage_report
